@import "site/utils/variables/variables";
@import "styleguide/styleguide-variables";
@import "framework/framework";
@import "site/site";

.cortana-body {
	height: auto;
}

.cortana-content {

	table {
		width: auto;
	}
}

@include form-horizontal;

@include responsive-media;

.video-player { // .video-player is the main content wrapper. You can use whatever wrapper you like
	@include responsive-media(16, 9); // This is the media ratio. You can also use absolute width and height
}

.soundcloud-player {
    
	@include responsive-media(2, 1);
	
	&.non-visual { /* for the older visual=false player type, with - artwork to the left - should probably have a min-height of 164px for very narrow layouts */
		@include responsive-media(4.5, 1);
	}
}


// Equal heights example

// Use !optional flag to allow mq-fallback to compile

.equal-heights .list-inner {
	border: 1px solid #f00;
}

.tab-prefix-6-12 {
	@extend %tab-prefix-6-12 !optional;
}

.desk-prefix-3-12 {
	@extend %desk-prefix-3-12;
}

.tab-suffix-3-12 {
	@extend %tab-suffix-3-12 !optional;
}

.desk-prefix-6-12 {
	@extend %desk-prefix-6-12;
}

.desk-suffix-9-12 {
	@extend %desk-suffix-9-12;
}

.tab-w-3-12 {
	@extend %tab-w-3-12 !optional;
}

.desk-w-3-12 {
	@extend %desk-w-3-12;
}

.tab-w-4-12 {
	@extend %tab-w-4-12 !optional;
}

.tab-w-8-12 {
	@extend %tab-w-8-12 !optional;
}

.desk-w-1-3 {
	@extend %desk-w-1-3;
}

.desk-w-4-12 {
	@extend %desk-w-4-12;
}

.desk-w-8-12 {
	@extend %desk-w-8-12;
}

.tab-pull-2-12 {
	@extend %tab-pull-2-12 !optional;
}

.tab-push-2-12 {
	@extend %tab-push-2-12 !optional;
}

.desk-pull-2-12 {
	@extend %desk-pull-2-12;
}

.desk-push-2-12 {
	@extend %desk-push-2-12;
}

.tab-list-2-items {
	@extend %tab-list-2-items !optional;
}

.tab-list-3-items {
	@extend %tab-list-3-items !optional;
}

.desk-list-2-items {
	@extend %desk-list-2-items;
}

.desk-list-3-items {
	@extend %desk-list-3-items;
}

.desk-list-4-items {
	@extend %desk-list-4-items;
}

.grid-inner {
	border: 1px solid #f00;
}

.grid--gutter-50 {
	@extend %grid--gutter-50;
}

.grid--gutter-75 {
	@extend %grid--gutter-75;
}

.nav--stacked {
	@include nav-stacked;
}

.nav--full {
	@include nav-equal-width;
}

.nav--left {
	@include nav-left;
}

.nav--right {
	@include nav-right;
}

.nav--center {
	@include nav-center;
}

.tab-nav--hide-sub {

	@include respond(tab) {
		@include nav-hide-sub;
	}
}

@include accordion-structure;

.accordion-container {
	@extend %mb-16;
	border: 1px solid #f00;
}

// Use accordion inner if you want to use padding on the content, this will stop the padding being animated
.accordion-inner {
	padding: 20px;
}
