//==========================================================================
//	Buttons (structure)
//==========================================================================

$btn-disabled-opacity: 0.5 !default;
$btn-small-default-padding: 0.5em !default;
$btn-large-default-padding: 1.5em !default;

.btn {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	font-size: 100%;
	padding: 1em;
	color: inherit;
	font-family: inherit;
	background: none;
}

// Full width button

.btn--full {
	width: 100%;
	text-align: center;
}

// Button sizes -- Modifies the internal spacing. Font size remains what it was previously set at.

.btn--small {
	padding: $btn-small-default-padding;
}

.btn--large {
	padding: $btn-large-default-padding;
}

.btn--disabled,
button[disabled] {
	&,
	&:hover,
	&:active,
	&:focus {
		@include opacity($btn-disabled-opacity);
		cursor: default;
	}
}
