//===========================================================================
//	Form structure
//===========================================================================

.input-container {
	@include clearfix;
}

#{$all-text-inputs} {
	width: 100%;
}

/// Shared styles when using form-horizontal mixin
/// ---
/// @access private
/// ---
/// @group components
///
@mixin _form-horizontal-constants() {

	label,
	.mimic-label {
		float: left;
		text-align: right;
	}

	.input-container { // Specify width of container using width classes

		#{$all-text-inputs} {
			display: block;
		}

	}

	// This allows elements to stack when positioned inside a form--horizontal structure
	.form--elements-stack {
		label,
		.mimic-label {
			float: none;
			text-align: left;
			padding-left: 0;
			width: auto;
		}

	}

	.row,
	.grid-container {
		label,
		.mimic-label,
		.input-container {
			padding-left: 0;
		}
	}

}

/// Styles for common design pattern where form labels align left, and related inputs align right.
/// It makes it possible to specify label width and spacing from form input, which can help when buildig sites responsively
/// ---
/// @group components
/// ---
/// @param {number} $form-horizontal-label-container-width [200px]
/// @param {number} $form-horizontal-label-gutter [20px]
/// @param {string} $form-horizontal-class ["form--horizontal"]
/// @param {string} $form-horizontal-start-breakpoint ["desk"]
///
@mixin form-horizontal(
	$form-horizontal-label-container-width: 200px,
	$form-horizontal-label-gutter: 20px,
	$form-horizontal-class: "form--horizontal",
	$form-horizontal-start-breakpoint: "desk"
) {

	@include respond($form-horizontal-start-breakpoint) {
		.#{$form-horizontal-class} { // This can be added to the form element if all elements follow this rule. Otherwise it can be added on a wrapping element

			@include _form-horizontal-constants;

			label,
			.mimic-label {
				@include pxtorem("width", $form-horizontal-label-container-width)
			}

			.input-container,
			.maintain-horizontal-space { // Specify width of container using width classes
				@include pxtorem("padding-left", $form-horizontal-label-container-width + $form-horizontal-label-gutter);
			}

		}

	}

}

// Checkbox and radio buttons
input[type=checkbox],
input[type=radio] {
	display: inline-block;
	margin-right: 5px;

	+ label {
		display: inline-block;
	}
}
