//===========================================================================
//	Image layout helpers
//===========================================================================

img {
	max-width: 100%;
	height: auto;

	// Reset max-width for google maps.

	.gm-style & {
		max-width: none;
	}

}

// Fixed sized images if you specify the width and height attribute.
// Some projects may require this to be commented / extra classes considered.
img[width],
img[height] {
	width: auto;
}

.img--stretch {
	width: 100%;
	height: auto;
}

/// Floats an image to the right and adds horizontal / vertical spacting (both optional).
/// Used by `.img--right` class with `$base-spacing-unit` set as the spacer.
/// ---
/// @group components
/// ---
/// @param {number} $margin-bottom [null] - Pixel value of margin-bottom. Gets converted to rems with a fallback
/// @param {number} $margin-left [null] - Pixel value of margin-left. Gets converted to rems with a fallback
///
@mixin img-right($margin-bottom: null, $margin-left: null) {
	@include pxtorem('margin-bottom', $margin-bottom);
	@include pxtorem('margin-left', $margin-left);
	float: right;
}

/// Floats an image to the left and adds horizontal / vertical spacting (both optional).
/// Used by `.img--left` class with `$base-spacing-unit` set as the spacer.
/// ---
/// @group components
/// ---
/// @param {number} $margin-right [null] - Pixel value of margin-right. Gets converted to rems with a fallback
/// @param {number} $margin-bottom [null] - Pixel value of margin-bottom. Gets converted to rems with a fallback
///
@mixin img-left($margin-right: null, $margin-bottom: null) {
	@include pxtorem('margin-right', $margin-right);
	@include pxtorem('margin-bottom', $margin-bottom);
	float: left;
}

/// Positions an image to the centre and adds horizontal spacting (optional).
/// Used by `.img--center` class with `$base-spacing-unit` set as the spacer.
/// ---
/// @group components
/// ---
/// @param {number} $margin-bottom [null] - Pixel value of margin-bottom. Gets converted to rems with a fallback
///
@mixin img-center($margin-bottom: null) {
	@include pxtorem('margin-bottom', $margin-bottom);
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.img--right {
	@include img-right($base-spacing-unit, $base-spacing-unit);
}

.img--left {
	@include img-left($base-spacing-unit, $base-spacing-unit);
}

.img--center {
	@include img-center($base-spacing-unit);
}
