//===========================================================================
//	Quotes
//===========================================================================

// Inline quotes

q {
	quotes: "\201C""\201D";

	&:before {
		content: open-quote;
	}

	&:after {
		content: close-quote;
	}
}


// Blockquotes

blockquote {
	quotes: "\201C""\201D";
	text-indent: -0.41em;

	p {

		&:before {
			content: open-quote;
		}

		&:after {
			content: close-quote;
		}
	}
}
