//===========================================================================
//	Spacing classes
//===========================================================================

$default-spacing-units: (
	16px
) !default;

$spacing-units: remove-duplicates(join($default-spacing-units, $spacing-units));

@mixin margin-bottom(
	$breakpoint-name: $breakpoint-name,
	$mb-use-placeholder-class: true,
	$mb-class-name: "mb"
) {

	$mb-listing-class-type: if($mb-use-placeholder-class, unquote("%"), unquote("."));
	$mb-class-name: _breakpoint-prepend($mb-class-name, $breakpoint-name);

	@each $unit in $spacing-units {

		$mb-class-unit: strip-units($unit);

		#{str-hyphenate(#{$mb-listing-class-type + $mb-class-name $mb-class-unit})} {
			@include pxtorem('margin-bottom', $unit !important);

		}

	}
}

@include responsive-class-generator() {
	@include margin-bottom($_bp-name);
	@include margin-bottom($_bp-name, false);
}
