//===========================================================================
//	Tables
//===========================================================================

/// Thanks to CSS Wizardry for the majority of this this
/// Apply these classes to col elements in a colspan. Leave the last col element empty to allow it to fill the remaining space.
/// ---
/// @group components
/// ---
/// @link http://csswizardry.com/2013/11/taming-data-tables/
///
@mixin table-widths {
	.t5 { width: 5%; }
	.t10 { width: 10%; }
	.t12 { width: 12.5%; }
	.t15 { width: 15%; }
	.t20 { width: 20%; }
	.t25 { width: 25%; }
	.t30 { width: 30%; }
	.t33 { width: 33.333%; }
	.t35 { width: 35%; }
	.t37 { width: 37.5%; }
	.t40 { width: 40%; }
	.t45 { width: 45%; }
	.t50 { width: 50%; }
	.t55 { width: 55%; }
	.t60 { width: 60%; }
	.t62 { width: 62.5%; }
	.t65 { width: 65%; }
	.t66 { width: 66.666%; }
	.t70 { width: 70%; }
	.t75 { width: 75%; }
	.t80 { width: 80%; }
	.t85 { width: 85%; }
	.t87 { width: 87.5%; }
	.t90 { width: 90%; }
	.t95 { width: 95%; }
}

table {

	width: 100%;

	th,
	td {
		border: 1px solid $border-color;
		padding: 0.5em;
	}
}

.table--reset {
	th,
	td {
		border: 0;
		padding: 0;
	}
}

// Force table cells to all render at the same width.

.table--grid {
	table-layout: fixed;
	width: 100%;
}

// Include this mixin if you want to have a striped table. $table-class-name and $color2 are both optional

@mixin table-striped(
	$table-color1,
	$table-color2: "",
	$table-class-name: ""
) {

	$table-class-name: _breakpoint-append("", $table-class-name);

	.table--striped#{$table-class-name} {

		@if $table-color2 != "" {
			thead {
				th,
				td {
					background-color: $table-color2;
				}
			}
		}

		/*tr*/.odd {
			th,
			td {
				background-color: $table-color1;
			}
		}

		@if $table-color2 != "" {
			th,
			td {
				background-color: $table-color2;
			}
		}
	}
}

/// Allows tables to be stacked for mobile devices. Requires table cells to have data attribute `data-th` equal to its heading.
/// ---
/// @group components
/// ---
/// @param {number} $heading-width - Width of the left column
///
@mixin table-stacked($heading-width: null) {

	thead {
		display: none;
	}

	th,
	td {

		display: block;
		border-top: 0;

		&:before {
			
			@if type-of($heading-width) == number and unit($heading-width) == px {
				@include pxtorem("width", $heading-width);
			} @else {
				width: $heading-width;
			}

			display: inline-block;
			content: attr(data-th);
		}
	}
}
