//==========================================================================
//	Core variables required for the framework setup
//==========================================================================

$environment: development !default;

$framework-name: "Fframework";

$max-site-width: 960px !default;

// Can be a map or a single px value. Map makes gutters responsive
$site-gutters: 20px !default;

$site-gutters-position: outside !default; // inside or outside 

$site-gutters-selector: if($site-gutters-position == inside, ".site-wide", ".viewport-wide");

$base-font-size: 16px !default;
$base-line-height: 24px !default;
$base-spacing-unit: 10px !default;

$mq-base-font-size: $base-font-size; // Set the media querys mixins base font size to be the same as the rest of the site.

$old-ie: false !default;
$rem-pixel-fallback: false !default;

$breakpoint-names: map-keys($mq-breakpoints);

$heading-names: map-keys($headings);

$include-block-format: false !default;

//==========================================================================
//	Colour settings
//==========================================================================

$body-color: transparent !default;
$copy-color: #333 !default;
$border-color: #ccc !default;
$default-selection-color: #b3d4fc !default;

//==========================================================================
//	Framework list additions
//==========================================================================

$custom-text-inputs: () !default;
$custom-button-inputs: () !default;

$spacing-units: () !default;

//==========================================================================
//	Dynamically check if the site is responsive
//==========================================================================

$mq-responsive: if(length($mq-breakpoints) == 1, false, true) !default;

$tablet-layout-key: "tab" !default;
$tab-layout: map-has-key($mq-breakpoints, $tablet-layout-key) !default; // @returns true or false

// Don't have a breakpoint name by default, mixins use the global variable if none is passed.
// This saves us from constantly having to redefine our breakpoint name.
// This should not be changed and therefore doesn't get flagged as default
$breakpoint-name: null;

//==========================================================================
//	Deprecated class names
//==========================================================================


// "old-class-name": "new-class-name"
$deprecated-classes: (
  "row": "grid-container"
);
