//==========================================================================
//	Generate responsive pseudo elements for JS to be able to access
//==========================================================================

body:before {
	display: none;
}

@include responsive-class-generator(false) {

	body:before {
		content: "#{$_bp-name}";
	}

}
