//==========================================================================
//	Test what environment we're compiling in
//==========================================================================

@if function-exists(compass-env) {

	/*! Compiled using Compass Sass */

	@if compass-env() == "development" {
		$environment: development;
		/*! Environment is #{compass-env()} change this to production before pushing live; */
	} @else {
		// Store formats in variables to stop scsslint from falling over
		$time-format: "%H:%M";
		$date-format: "%-d-%-m-%y";
		/*! #{current-output-file()} last compiled at #{current-time($time-format)} on #{current-date($date-format)} */
	}

} @else {
	/*! Compiled using LibSass */
}

// Check that we are using the correct version of sass and if we aren't provide some feedback as to why it fails to compile
@if feature-exists("global-variable-shadowing") != true {
	@warn "You need to update the version of sass to at least 3.4";
}
