//==========================================================================
// Arrows
//==========================================================================

/// A very simple way to create arrows

/// Shared arrow styles
/// ---
/// @group utils
/// ---
/// @access private
///
%arrow-common {
	height: 0;
	width: 0;
}

/// Mixin for creating arrows using CSS borders
/// ---
/// @group utils
/// ---
/// @param {string} $arrow-direction - Must be top, right, bottom or left.
/// @param {number} $arrow-width - Pixel, em or rem value.
/// @param {color} $arrow-color [#f00] - Colour of arrow.
/// ---
/// @throws Direction must be one of top, right, bottom or left
///
@mixin arrow(
	$arrow-direction,
	$arrow-width,
	$arrow-color: #f00
) {

	@if not index(top right bottom left, $arrow-direction) {
		@error "Direction must be one of top, right, bottom or left";
	}

	$arrow-width: strip-units($arrow-width) * 1px;

	@extend %arrow-common;

	border-#{opposite-position($arrow-direction)}: $arrow-width * 1.5 solid $arrow-color;

	@if $arrow-direction == top or $arrow-direction == bottom {
		border-left: $arrow-width solid transparent;
		border-right: $arrow-width solid transparent;
	}

	@if $arrow-direction == right or $arrow-direction == left {
		border-bottom: $arrow-width solid transparent;
		border-top: $arrow-width solid transparent;
	}
}
