// Uses functionality from Griddle
// https://github.com/necolas/griddle/blob/master/_griddle-build.scss
// Extended to use placeholder class and extend source order and push pull grids

$grid-use-placeholder-class: true !default;
$grid-class-type: if($grid-use-placeholder-class, unquote("%"), unquote("."));

@function contains($list, $value) {
	@if type-of($list) == list {
		@return not not index($list, $value);
	} @else {
		@return $list == $value;
	}
}

@function gcf($a, $b) {
	@if $b == 0 {
		@return $a;
	} @else {
		@return gcf($b, $a % $b);
	}
}

@mixin grid-calculator(
	$breakpoint-name,
	$primary-class-name,
	$primary-value,
	$secondary-class-name: null,
	$secondary-value: null
) {

	$primary-class-name: _breakpoint-prepend($primary-class-name, $breakpoint-name);
	$secondary-class-name: if($secondary-class-name, _breakpoint-prepend($secondary-class-name, $breakpoint-name), null);

	$grid-units: 1 2 3 4 5 6 7 8 9 10 11 12 !default;

	@each $n in $grid-units {

		@for $i from 1 to $n {
			// Initialize variables
			$i-r: 0;
			$n-r: 0;

			// Find the greatest common factor
			$g: gcf($i, $n);

			@if $g > 1 {
				// Reduced value of $i
				$i-r: $i/$g;
				// Reduced value of $n
				$n-r: $n/$g;
			}

			// Check if the reduced value of $n was also supplied in the list
			// of units to be built
			$canreduce: contains($grid-units, $n-r);

			// Create units based on fractions
			#{str-hyphenate(#{$grid-class-type + $primary-class-name $i $n})} {
				// If this unit can be reduced then extend the previous rule
				@if $canreduce {
					@extend #{str-hyphenate(#{$grid-class-type + $primary-class-name $i-r $n-r})};
				} @else { // Otherwise create a new % class
					#{$primary-value}: percentage($i / $n);
				}
			}

			@if $secondary-class-name {

				#{str-hyphenate(#{$grid-class-type + $secondary-class-name $i $n})} {
					// If this unit can be reduced then extend the previous rule
					@if $canreduce {
						@extend #{str-hyphenate(#{$grid-class-type + $secondary-class-name $i-r $n-r})};
					} @else { // Otherwise create a new % class
						#{$secondary-value}: percentage($i / $n);
					}
				}
			}
		}
	}
}
