//==========================================================================
// Hover states
//==========================================================================

/// Mixin used to support a fallback for non javascript browsers hover states
/// ---
/// @group utils
/// ---
/// @deprecated JS to support this no longer exists and can cause unwanted complexity 

@mixin hover($js-hover-class: "js-hovering") {
	.js & {
		&.#{$js-hover-class} {
			@content;
		}
	}

	.no-js & {
		&:hover {
			@content;
		}
	}
}
