//==========================================================================
// Image replacement
//==========================================================================

/// Image replacement technique (now removed from boilerplate)
/// @group base
/// ---
/// @author HTML5 Boilerplate
/// ---
/// @link https://github.com/h5bp/html5-boilerplate/issues/1472
///
@mixin image-replacement {
	background-color: transparent;
	border: 0;
	overflow: hidden;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 150%;
	}
}
