//==========================================================================
// Opacity
//==========================================================================

/// Mixin for opacity. Although it isn't needed if not supporting IE8, this provides a fallback for older versions of IE
/// ---
/// @group utils
/// ---
/// @param {number} $opacity - Amount of opacity to add, between 0 and 1

@mixin opacity($opacity) {
	opacity: $opacity;
	
	@if $old-ie {
		$opacity-ie: $opacity * 100;
		filter: alpha(opacity=$opacity-ie); //IE8
	}
}
