//===========================================================================
//	Pixel conversion
//===========================================================================

/// Convert pixels to rem. IE8 doesn't support rem, so this mixin provides a fallback.
/// ---
/// @group utils
/// ---
/// @param {string} $property - CSS property, Eg padding or margin
/// @param {number | list} $values - Numeric value, or list of numeric values to convert to rems
///
@mixin pxtorem($property, $values) {
	@if $rem-pixel-fallback == true or $old-ie == true {
		#{$property}: $values;
		#{$property}: pxtorem($values);
	} @else {	
		#{$property}: pxtorem($values);
	}
}

/// Calculates a unitless line height, based on the current font size passed to it.
/// ---
/// @group utils
/// ---
/// @param {number} $line-height
/// @param {number} $font-size
///
@mixin line-height($line-height, $font-size) {
	@if $line-height != null {
		line-height: $line-height/$font-size;
	}
}

/// Font size shortcut for the pxtorem mixin
/// ---
/// @group utils
/// ---
/// @param {number} $font-size
/// @param {number} $line-height [null] - Optional line height
/// ---
/// @throws $font-size parameter only takes one value
///
@mixin font-size($font-size, $line-height: null) {

	@if type-of($font-size) == list {
		@error "$font-size parameter only takes one value";
	}

	@include pxtorem(font-size, $font-size);
	@include line-height($line-height, $font-size);

}
