//===========================================================================
//	Selection
//===========================================================================

/// Styling for highlighted/selected text
/// ---
/// @group utils
/// ---
/// @param {color} $bg-color - Colour used for highlighted/selected text
///
@mixin selection($bg-color) {
	::selection {
		text-shadow: none;
		background: $bg-color;
	}
}
