//==========================================================================
//	Sprite mixins
//==========================================================================

/// Fframework uses spritesmith to generate sprites.
/// Get the width of an image from the to-sprite folder
/// ---
/// @group utils
/// ---
/// @param {string} $image - Variable provided by spritesmith.scss, this is the name of the image you want to get the width of
/// ---
/// @link https://github.com/Ensighten/grunt-spritesmith
///
@function image-width($image) {
	$width: nth($image, 5);
	@return $width;
}

/// Fframework uses spritesmith to generate sprites.
/// Get the height of an image from the to-sprite folder
/// ---
/// @group utils
/// ---
/// @param {string} $image - Variable provided by spritesmith.scss, this is the name of the image you want to get the height of
/// ---
/// @link https://github.com/Ensighten/grunt-spritesmith
///
@function image-height($image) {
	$height: nth($image, 6);
	@return $height;
}

/// Include the sprite from the generated sprite file. This will calculate the width, height and background position for you.
/// ---
/// @group utils
/// ---
/// @param {string} $image - Variable provided by spritesmith.scss, this is the name of the image you want to use
/// ---
/// @link https://github.com/Ensighten/grunt-spritesmith
///
@mixin use-sprite($image) {
	$image-path: nth($image, 9);
	$offset-x: nth($image, 3);
	$offset-y: nth($image, 4);

	background-image: url($image-path);
	height: image-height($image);
	width: image-width($image);
	background-position: $offset-x $offset-y;
}
