//==========================================================================
// SVG 2 PNG
//==========================================================================

///	Mixin to utilise svg2png grunt tool
/// Uses double gradient technique
/// ---
/// @author Pau Giner
/// ---
/// @link http://pauginer.com/post/36614680636/invisible-gradient-technique
/// ---
/// @group utils
///
@mixin svg2png($svg-image) {
	$svg-path: image-url("#{$svg-image}");
	$png-extension: str-sub($svg-image, ".svg", ".png");
	$png-path: image-url("png/#{$png-extension}");

	// http://pauginer.com/post/36614680636/invisible-gradient-technique
	background-image: #{$png-path};
  	
    // We need to declare background-image twice for the IE fallback...
	// scss-lint:disable DuplicateProperty
	background-image: linear-gradient(transparent, transparent), #{$svg-path};
}
