//==========================================================================
// Visuallyhidden
//==========================================================================

/// Hide text visually, but keep it available to screenreaders
/// Used by CSS class visuallyhidden
/// ---
/// @group utils
///
@mixin visuallyhidden {
	position: absolute;
	height: 1px;
	width: 1px; 
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

@mixin visuallyhidden-reset {
	position: static;
	height: auto;
	width: auto;
	overflow: visible;
	clip: auto;
}

@mixin visuallyhidden-focusable {

	@include visuallyhidden;

	&:active,
	&:focus {
		@include visuallyhidden-reset;
	}
}
