//==========================================================================
//	Grids
//==========================================================================

.row,
.grid-container {
	@include clearfix;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	font-size: 0;
}

.grid-item {
	@include font-size($base-font-size);
	width: 100%;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.grid--reverse { 
	direction: rtl;

	.grid-item {
		direction: ltr; 
	}
}

.grid-item--middle {
	vertical-align: middle;
}

.grid-item--bottom {
	vertical-align: bottom;
}

.grid-inner {
	display: block;
}
