//==========================================================================
//  Horizontal Listing items
//==========================================================================

// This is for horizontally aligning list items into a consistent grid.
// This is a common design pattern on a number of Disney websites

// Variables for listing item gutters

$listing-gutters-horizontal-default: 16px !default;
$listing-gutters-vertical-default: $listing-gutters-horizontal-default !default;
$listing-gutters-horizontal: () !default;
$listing-gutters-vertical: $listing-gutters-horizontal !default;
$listing-items-horizontal-per-row: 6 !default; // Number of variations to include

@mixin _listing-setup(
	$breakpoint-name: $breakpoint-name,
	$listing-use-placeholder-class: true
) {

	$listing-class-type: if($listing-use-placeholder-class, unquote("%"), unquote("."));
	$listing-class-name: "";
	$listing-class-name: _breakpoint-prepend($listing-class-name, $breakpoint-name);

	@for $i from 1 through $listing-items-horizontal-per-row {
		#{str-hyphenate(#{$listing-class-type + $listing-class-name + list #{$i} items})} {
			> li {
				width: percentage(1 / $i);
			}
		}
	}
}

@mixin listing-gutters-horizontal($listing-gutter-spacing-horizontal) {

	@include pxtorem('margin-left', -$listing-gutter-spacing-horizontal);

	> li {
		@include pxtorem('padding-left', $listing-gutter-spacing-horizontal);
	}
}

@mixin listing-gutters-vertical($listing-gutter-spacing-vertical) {

	@include pxtorem('margin-top', -$listing-gutter-spacing-vertical);

	> li {
		@include pxtorem('padding-top', $listing-gutter-spacing-vertical);
	}
}

/*ul*/.listing-item {
	@include clearfix;
	@include listing-gutters-horizontal($listing-gutters-horizontal-default);
	@include listing-gutters-vertical($listing-gutters-vertical-default);
	list-style: none;
	padding: 0;
	margin-bottom: 0;
	display: block;
	font-size: 0;

	> li {
		@include font-size($base-font-size);
		width: 100%;
		display: inline-block;
		vertical-align: top;
	}

}

@include responsive-class-generator(false) {
	@include _listing-setup($_bp-name);
}

// Include grid list of options

@each $gutter in $listing-gutters-horizontal {
	.listing--gutter-h-#{strip-units($gutter)} {
		@include listing-gutters-horizontal($gutter);
	}
}

@each $gutter in $listing-gutters-vertical {
	.listing--gutter-v-#{strip-units($gutter)} {
		@include listing-gutters-vertical($gutter);
	}
}
