//==========================================================================
//  Navigation
//==========================================================================

// Define each section here. Include them with a default class name at the bottom of the file

/// Sets up the basic horizontal navigation structure
/// ---
/// @access public
/// ---
/// @group layout
/// ---
/// @example - scss
/// .class-wrapper {
/// 	@include nav;
/// }
///
@mixin nav {
	@include list-reset;
	font-size: 0; // Combats white space created by inline-block

	li {
		@include font-size($base-font-size); // Combats white space created by inline-block
		position: relative;
		display: inline-block;
	}

	a {
		display: block;
	}
}

/// Adds extra functionality to turn a horizontal navigation into a dropdown navigation.
/// ---
/// @access public
/// ---
/// @group layout
/// ---
/// @param {string | null} $sub-nav-class [null] - optional class name for dropdown item
/// ---
/// @example - scss
/// .class-wrapper {
/// 	@include nav;
///		@include nav-dropdown(".dropdown-class");
/// }
///
@mixin nav-dropdown($sub-nav-class: null) {

	$dropdown-selectors: ul, ol;

	@if $sub-nav-class {
		$dropdown-selectors: append($dropdown-selectors, $sub-nav-class, comma);
	}

	#{$dropdown-selectors} {
		@include list-reset;
		display: none;
		position: absolute;
		top: 100%;
		min-width: 100%;

		a {
			white-space: nowrap;
			display: block;
		}
	}

	li:hover {
		%dropdown-hover-state {
			display: block;
		}

		@each $selector in $dropdown-selectors {
			> #{$selector} {
				@extend %dropdown-hover-state;
			}
		}
	}
}

/// Adds extra functionality to turn a horizontal navigation into a dropdown mega navigation.
/// ---
/// @access public
/// ---
/// @group layout
/// ---
/// @example - scss
/// .class-wrapper {
/// 	@include nav;
///		@include nav-mega;
/// }
///
@mixin nav-mega {
	position: relative;

	> li {
		position: static;
	}

	.nav__sub-nav {

		left: 0;
		right: 0;

		ul,
		ol {
			display: block;
		}

	}	
}

/// Horizontally align nav items to the centre
/// ---
/// @access public
/// ---
/// @group layout
/// ---
/// @example - scss
/// .class-wrapper {
/// 	@include nav;
///		@include nav-center;
/// }
///
@mixin nav-center {
	text-align: center;
}

/// Horizontally align nav items to the right
/// ---
/// @access public
/// ---
/// @group layout
/// ---
/// @example - scss
/// .class-wrapper {
/// 	@include nav;
///		@include nav-right;
/// }
///
@mixin nav-right {
	text-align: right;

	ul,
	ol {
		right: 0;
	}
}

/// Horizontally align nav items to the left
/// ---
/// @access public
/// ---
/// @group layout
/// ---
/// @example - scss
/// .class-wrapper {
/// 	@include nav;
///		@include nav-left;
/// }
///
@mixin nav-left {
	text-align: left;
}

/// Stack list items vertically, this is sometimes useful for navigation on smaller screens
/// ---
/// @access public
/// ---
/// @group layout
/// ---
/// @example - scss
/// .class-wrapper {
/// 	@include nav-stacked;
/// }
///
@mixin nav-stacked {
	li,
	a {
		display: block;
	}
	
	ul,
	ol {
		position: static;
	}

}

/// Horizontal navigation where each nav item has an equal width
/// ---
/// @access public
/// ---
/// @group layout
/// ---
/// @example - scss
/// .class-wrapper {
///		@include nav;
/// 	@include nav-equal-width;
/// }
///
@mixin nav-equal-width {
	display: table;
	table-layout: fixed;
	width: 100%;

	> li {
		display: table-cell;

		> a {
			display: block;
		}
	}
}

/// Hide sub navigation for certain layouts. This can be useful when using nav-dropdown for some layouts.
/// Works well with respond mixins.
/// ---
/// @access public
/// ---
/// @group layout
/// ---
/// @example - scss
/// .class-wrapper {
///		@include nav;
/// 	@include nav-hide-sub;
/// }
///
/// @todo Make this use a dynamic sub-nav class name as per nav-dropdown mixin
@mixin nav-hide-sub {
	> li:hover {
		.nav__sub-nav,
		> ul,
		> ol {
			display: none;
		}
	}
}

// Set up the basic navigation structure
.nav {
	@include nav;
}

.nav--dropdown {
	@include nav-dropdown(".nav__sub-nav");
}

.nav--mega-nav {
	@include nav-mega;
}
