//==========================================================================
//	Push pull grids
//==========================================================================

/// You can add horizontal space to your elements by pushing or pulling a grid item.
/// This will add margin-left or margin-right to an element
/// ---
/// @deprecated Use `push` or `pull` mixin instead
/// ---
/// @group layout
/// ---
/// @see {mixin} push
/// @see {mixin} pull
///
@mixin push-pull-build($breakpoint-name: $breakpoint-name) {

	$push-pull-config: (
		primary-class-name: "push",
		primary-value: "margin-right",
		secondary-class-name: "pull",
		secondary-value: "margin-left",
		breakpoint-name: $breakpoint-name
	);

	$primary-class-name: _breakpoint-prepend(map-get($push-pull-config, primary-class-name), $breakpoint-name);
	$secondary-class-name: _breakpoint-prepend(map-get($push-pull-config, secondary-class-name), $breakpoint-name);


	#{$grid-class-type + $primary-class-name}-0 {
		margin-right: 0;
	}

	#{$grid-class-type + $secondary-class-name}-0 {
		margin-left: 0;
	}

	@include grid-calculator($push-pull-config...);

}

@include responsive-class-generator() {
	@include push-pull-build($_bp-name);
}

/// You can add space to the right of your elements by pushing a grid item.
/// Calculates a percentage based on a number of columns and a context number of columns (x columns of y context)
/// ---
/// @group layout
/// ---
/// @param {number} $width - Number of columns to span
/// @param {number} $context - Total number of columns
///
@mixin push($width, $context) {
	margin-right: percentage($width / $context);
}

/// You can add space to the left of your elements by pulling a grid item.
/// Calculates a percentage based on a number of columns and a context number of columns (x columns of y context)
/// ---
/// @group layout
/// ---
/// @param {number} $width - Number of columns to span
/// @param {number} $context - Total number of columns
///
@mixin pull($width, $context) {
	margin-left: percentage($width / $context);
}
