//==========================================================================
//	Widths
//==========================================================================

/// Creates classes that can be extended
/// ---
/// @deprecated Use `width` mixin instead
/// ---
/// @group layout
/// ---
/// @see width
///
@mixin width-build($breakpoint-name: $breakpoint-name) {

	$width-config: (
		primary-class-name: "w",
		primary-value: "width",
		breakpoint-name: $breakpoint-name
	);

	@include grid-calculator($width-config...);

}

@include responsive-class-generator() {
	@include width-build($_bp-name);
}

/// Calculates a percentage width based on a number of columns and a context number of columns (x columns of y context)
/// ---
/// @group layout
/// ---
/// @param {number} $width - Number of columns to span
/// @param {number} $context - Total number of columns
///
@mixin width($width, $context) {
	width: percentage($width / $context);
}
