//===========================================================================
//	Variable Lists
//===========================================================================

/// Return the first item in a list or map
/// ---
/// @group utils
/// ---
/// @return {string | number | color}
///
@function list-first($list) {
	@return nth($list, 1);
}

/// Return the last item in a list
/// ---
/// @group utils
/// ---
/// @return {string | number | color}
///
@function list-last($list) {
	@return nth($list, -1);
}

/// Unquote and comma separate lists to use for long lists of selectors. Useful for form inputs
/// ---
/// @group utils
/// ---
/// @return {list}
///
@function separate-list($items) {
	$list : ();

	@each $item in $items {
		$list: append($list, $item, comma);
	}

	@return $list;
}

/// Remove duplicate items from a list when merging two lists
/// ---
/// @group utils
/// ---
/// @return {list}
///
@function remove-duplicates($list, $recursive: false) {
	$result: ();

	@each $item in $list {
		@if not index($result, $item) {
			@if length($item) > 1 and $recursive {
				$result: append($result, remove-duplicates($item, $recursive));
			}
			@else {
				$result: append($result, $item);
			}
		}
	}

	@return $result;
}
