//===========================================================================
//	Opposite position function
//===========================================================================

/// Map of opposite key, value pairs
/// For example the opposite of `top` is `bottom`
/// ---
/// @group utils
/// ---
/// @access private
/// ---
/// @type map
///
$_opposites: (
	top: bottom,
	bottom: top,
	left: right,
	right: left,
	up: down,
	down: up
);

/// Optional map to add extra opposites if required
/// For example the opposite of `top` is `bottom`
/// ---
/// @group utils
/// ---
/// @type map
///
$opposites-extended: () !default;

/// Used to merge private opposites map and extendable map into a single map. Key value pairs in `$_opposites` can't be overwritten
/// For example the opposite of `top` is `bottom`
/// ---
/// @group utils
/// ---
/// @type map
///
$_opposites-merged: map-merge($opposites-extended, $_opposites);

/// Set the opposite position to the value passed to the function
/// ---
/// @param {string | list} $positions
/// ---
/// @example scss
///   opposite-position(top);
///   // bottom
/// ---
/// @return {string | list}
/// ---
/// @group utils
///
@function opposite-position($positions) {

	$position-output: ();

	@each $position in $positions {

		@if map-has-key($_opposites-merged, $position) {
			$position-output: append($position-output, map-get($_opposites-merged, $position));
		} @else {
			@warn "Direction must be one of #{map-keys($_opposites)}; currently `#{$position}`.";
		}

	}

	@return $position-output;

}
