//===========================================================================
//	Pixel to em conversion
//===========================================================================

/// Convert units from pixels to em units. `$basepx` is relative to elements font size.
/// ---
/// @param {number} $px - Pixel value you want to convert to ems
/// @param {number} $basepx [$base-font-size] - Font size of current item, so conversion can take place
/// ---
/// @group utils
/// ---
/// @return {number} px value converted to em
/// ---
/// @throws You are trying to convert unitless units to em units
/// @throws You are trying to convert unit($px) units to em units
/// @throws A maximum of 4 values can be passed
///
@function pxtoem($px, $basepx: $base-font-size) {

	$baseline-em: $basepx / 1em;
	$em-values: ();

	@each $value in $px {
		@if $value == 0 {
			$em-values: append($em-values, $value);
		} @else if unitless($value) {
			@error "You are trying to convert unitless units to em units.";
		} @else if unit($value) != "px" {
			@error "You are trying to convert " #{unit($px)} " units to em units.";
		} @else {
			$em-values: append($em-values, $value / $baseline-em);
		}
	}

	@if length($px) > 4 {
		@error "A maximum of 4 values can be passed";
	}
	
	@return $em-values;

}
