//===========================================================================
//	Pixel to rem conversion
//===========================================================================

/// Convert units from pixels to rem units.
/// ---
/// @group utils
/// ---
/// @param {number} $px - Pixel value you want to convert to rems
/// ---
/// @return {number} px value converted to rem
///
@function pxtorem($px-values) {

	$baseline-rem: $base-font-size / 1rem;

	// Create an empty list that values can be dumped into
	$rem-values: ();

	@each $value in $px-values {
		// If the value is zero or a string or a color, return unchanged input
		@if $value == 0 or type-of($value) == "string" or type-of($value) == "color" or unit($value) == "%" {
			$rem-values: append($rem-values, $value);
		} @else {
			$rem-values: append($rem-values, $value / $baseline-rem);
		}
	}

	@return $rem-values;

}
