//===========================================================================
//	String Functions
//===========================================================================

/// Sass default function is called inspect, this is an alias for that
/// ---
/// @param {number | list | color} $value
/// ---
/// @group utils
///
@function to-string($value) {
	@return inspect($value);
}


/// Substitute first occurance of $substring in $string with $replacement.
/// ---
/// @param {string} $string - Example: `"Well hello there world. You have it right there"`
/// @param {string} $substring - Example: `"there"`
/// @param {string} $replacement - Example: `"beautiful"`
/// ---
/// @return {string} Example: `"Well hello beautiful world. You have it right there"`
/// ---
/// @group utils
///
@function str-sub($string, $substring, $replacement) {

	$start: str-index($string, $substring);

	@if ($start != null) {
		$end: $start + str-length($substring);
		$length: str-length($string); 
		$head: str-slice($string, 1, $start - 1);
		$tail: str-slice($string, $end, -1);
		@return $head + $replacement + $tail;
	} @else {
		@return $string;
	}
}


/// Substitute all occurances of $substring in $string with $replacement.
/// ---
/// @param {string} $string - Example: `"Well hello there world. You have it right there"`
/// @param {string} $substring - Example: `"there"`
/// @param {string} $replacement - Example: `"beautiful"`
/// ---
/// @return {string} Example: `"Well hello beautiful world. You have it right beautiful"`
/// ---
/// @group utils
///
@function str-gsub($string, $substring, $replacement) {

	$result: $string;

	@while (str-index($result, $substring) != null) {
		$result: str-sub($result, $substring, $replacement);
	}
	@return $result;
}

/// Hyphenate a space separated string. Shortcut to str-gsub.
/// ---
/// @param {string} $string - Example: `"Well hello there world. You have it right there"`
/// ---
/// @return {string} Example: `"Well-hello-there-world.-You-have-it-right-there"`
/// ---
/// @group utils
///
@function str-hyphenate($string) {
	@return str-gsub($string, " ", "-");
}
