/*doc
---
title: Description
name: a-nav-description
category: Structure - Navigation
---

Navigation is one of the the most common parts of any webiste. It's safe to assume the common patterns of navigation.

Each of these types of navigation have their respective responsive prefixes. Some will sit silent in the framework until they are extended using `@extend`

*/

/*doc
---
title: Horizontal nav
name: b-nav-horizontal
category: Structure - Navigation
---

```html_example

<nav role="navigation">
	<ul class="nav">
		<li><a href="">Link 1</a></li>
		<li><a href="">Link 2</a></li>
		<li><a href="">Link 3</a></li>
		<li><a href="">Link 4</a></li>
		<li><a href="">Link 5</a></li>
		<li><a href="">Link 6</a></li>
	</ul>
</nav>

```

*/

/*doc
---
title: Horizontal nav with sub nav dropdown
name: c-nav-dropdown
category: Structure - Navigation
---

```html_example

<div style="min-height: 500px; border: 1px solid red">

<nav role="navigation">
	<ul class="nav nav--dropdown">
		<li><a href="">Link 1</a></li>
		<li><a href="">Link 2</a></li>
		<li>
			<a href="">Dropdown Link 3</a>

			<ul>
				<li><a href="">Sub nav 1</a></li>
				<li><a href="">Sub nav 2</a></li>
				<li><a href="">Sub nav 3</a></li>
				<li><a href="">Sub nav 4</a></li>
				<li><a href="">Sub nav 5</a></li>
			</ul>

		</li>
		<li><a href="">Link 4</a></li>
		<li><a href="">Link 5</a></li>
		<li><a href="">Link 6</a></li>
	</ul>
</nav>

</div>

```

*/

/*doc
---
title: Horizontal nav with sub nav dropdown but hidden on tablet
name: d-nav-dropdown-tab-hide
category: Structure - Navigation
---

```html_example

<div style="min-height: 500px; border: 1px solid red">

<nav role="navigation">
	<ul class="nav nav--dropdown tab-nav--hide-sub">
		<li><a href="">Link 1</a></li>
		<li><a href="">Link 2</a></li>
		<li>
			<a href="">Dropdown Link 3</a>

			<ul>
				<li><a href="">Sub nav 1</a></li>
				<li><a href="">Sub nav 2</a></li>
				<li><a href="">Sub nav 3</a></li>
				<li><a href="">Sub nav 4</a></li>
				<li><a href="">Sub nav 5</a></li>
			</ul>

		</li>
		<li><a href="">Link 4</a></li>
		<li><a href="">Link 5</a></li>
		<li><a href="">Link 6</a></li>
	</ul>
</nav>

</div>

```

*/

/*doc
---
title: Horizontal nav with mega nav dropdown
name: e-nav-dropdown-mega
category: Structure - Navigation
---

```html_example

<div style="min-height: 500px; border: 1px solid red">

<nav role="navigation">
	<ul class="nav nav--dropdown nav--mega-nav">
		<li><a href="">Link 1</a></li>
		<li><a href="">Link 2</a></li>
		<li>
			<a href="">Dropdown Link 3</a>

			<div class="nav__sub-nav">
				<div class="grid-container">
					<div class="grid-item desk-w-1-3">
						<ul class="nav--stacked">
							<li><a href="">Mega nav item</a></li>
							<li><a href="">Mega nav item</a></li>
							<li><a href="">Mega nav item</a></li>
							<li><a href="">Mega nav item</a></li>
							<li><a href="">Mega nav item</a></li>
						</ul>
					</div>

					<div class="grid-item desk-w-1-3">
						<ul class="nav--stacked">
							<li><a href="">Mega nav item</a></li>
							<li><a href="">Mega nav item</a></li>
							<li><a href="">Mega nav item</a></li>
							<li><a href="">Mega nav item</a></li>
							<li><a href="">Mega nav item</a></li>
						</ul>
					</div>

					<div class="grid-item desk-w-1-3">
						<ul class="nav--stacked">
							<li><a href="">Mega nav item</a></li>
							<li><a href="">Mega nav item</a></li>
							<li><a href="">Mega nav item</a></li>
							<li><a href="">Mega nav item</a></li>
							<li><a href="">Mega nav item</a></li>
						</ul>
					</div>
				</div>
			</div>

		</li>
		<li><a href="">Link 4</a></li>
		<li><a href="">Link 5</a></li>
		<li><a href="">Link 6</a></li>
	</ul>
</nav>

</div>

```

*/

/*doc
---
title: Horizontal nav with equal width columns
name: f-nav-equal-width
category: Structure - Navigation
---

```html_example

<nav role="navigation">
	<ul class="nav nav--full">
		<li><a href="">Link 1</a></li>
		<li><a href="">Link 2</a></li>
		<li><a href="">Link 3</a></li>
		<li><a href="">Link 4</a></li>
		<li><a href="">Link 5</a></li>
		<li><a href="">Link 6</a></li>
	</ul>
</nav>

```

*/

/*doc
---
title: Horizontal nav center aligned
name: g-nav-center-align
category: Structure - Navigation
---

```html_example

<nav role="navigation">
	<ul class="nav nav--center">
		<li><a href="">Link 1</a></li>
		<li><a href="">Link 2</a></li>
		<li><a href="">Link 3</a></li>
		<li><a href="">Link 4</a></li>
		<li><a href="">Link 5</a></li>
		<li><a href="">Link 6</a></li>
	</ul>
</nav>

```

*/

/*doc
---
title: Horizontal nav left aligned
name: h-nav-left-align
category: Structure - Navigation
---

```html_example

<nav role="navigation">
	<ul class="nav nav--left">
		<li><a href="">Link 1</a></li>
		<li><a href="">Link 2</a></li>
		<li><a href="">Link 3</a></li>
		<li><a href="">Link 4</a></li>
		<li><a href="">Link 5</a></li>
		<li><a href="">Link 6</a></li>
	</ul>
</nav>

```

*/

/*doc
---
title: Horizontal nav right aligned
name: i-nav-right-align
category: Structure - Navigation
---

```html_example

<nav role="navigation">
	<ul class="nav nav--right">
		<li><a href="">Link 1</a></li>
		<li><a href="">Link 2</a></li>
		<li><a href="">Link 3</a></li>
		<li><a href="">Link 4</a></li>
		<li><a href="">Link 5</a></li>
		<li><a href="">Link 6</a></li>
	</ul>
</nav>

```

*/

/*doc
---
title: Vertical nav
name: j-vertical-nav
category: Structure - Navigation
---

```html_example

<nav role="navigation">
	<ul class="nav nav--stacked">
		<li><a href="">Link 1</a></li>
		<li><a href="">Link 2</a></li>
		<li><a href="">Link 3</a></li>
		<li><a href="">Link 4</a></li>
		<li><a href="">Link 5</a></li>
		<li><a href="">Link 6</a></li>
	</ul>
</nav>

```


*/
