//==========================================================================
//  Breadcrumbs
//==========================================================================

.breadcrumb {
	@include clearfix;

	> li + li:before {
		content: "\00A0" "\00BB" "\00A0";
	}

	> li + li[data-breadcrumb]:before { // Thanks to inuit.css for this spec of genius
		content: "\00A0" attr(data-breadcrumb) "\00A0";
	}
}
