//===========================================================================
//	Validation class
//===========================================================================

// This is different to Alerts messages
// This is used on forms.

// Vars

@mixin form-validation(
	$error-class-name: "error",
	$error-color: #f00,
	$error-border-color: $error-color,
	$error-label: false
) {
	.#{$error-class-name} {

		@if $error-label == true {
			label {
				color: $error-color;
			}
		}

		#{$all-text-inputs} {
			border: 1px solid $error-border-color;
		}
	}

}
