//===========================================================================
//	Base styles: opinionated defaults
//===========================================================================

* {
	&,
	&:before,
	&:after {
		box-sizing: inherit;
	}
}

html {
	@include line-height($base-line-height, $base-font-size);
	box-sizing: border-box;
	overflow-y: scroll;
	font-size: percentage($base-font-size / 16px);
	font-family: $default-font-stack;
}

html,
body {
	height: 100%;
}

html,
button,
input,
select,
textarea {
	color: $copy-color;
}

@include selection($default-selection-color);

hr {
	display: block;
	border: 0;
	border-top: 1px solid $border-color;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl,
table, form, pre, hr {
	@include pxtorem(margin, 0 0 16px 0);
}

.site-wide {

	@if $site-gutters-position == inside {
	
		@if $mq-responsive == true and $tab-layout != false {
			@if type-of($site-gutters) == map {
				@include pxtorem(max-width, $max-site-width + double(map-get($site-gutters, desk)));
			} @else {
				@include pxtorem(max-width, $max-site-width + double($site-gutters));
			}
		}

		@if $mq-responsive == true and $tab-layout == false {
			@include respond($mq-static-breakpoint) {
				@if type-of($site-gutters) == map {
					@include pxtorem(width, $max-site-width + double(map-get($site-gutters, desk)));
				} @else {
					@include pxtorem(width, $max-site-width + double($site-gutters));
				}
			}
		}

		@if $mq-responsive == false { // Browsers without a breakpoint need to have a fixed width
			@if type-of($site-gutters) == map {
				@include pxtorem(width, $max-site-width + double(map-get($site-gutters, desk)));
			} @else {
				@include pxtorem(width, $max-site-width + double($site-gutters));
			}
		}

	} @else {

		@if $mq-responsive == true and $tab-layout != false {
			@include pxtorem(max-width, $max-site-width);
		}

		@if $mq-responsive == true and $tab-layout == false {
			@include respond($mq-static-breakpoint) {
				@include pxtorem(width, $max-site-width);
			}
		}

		@if $mq-responsive == false { // Browsers without a breakpoint need to have a fixed width
			@include pxtorem(width, $max-site-width);
		}
	}

	margin: 0 auto;
	position: relative;
}

.viewport-wide {
	position: relative;

	@if $mq-responsive == true and $tab-layout == false {
		@include respond($mq-static-breakpoint) {
			@include pxtorem(min-width, $max-site-width + double($site-gutters));
		}
	}

	@if $mq-responsive == false { // Browsers without a breakpoint need to have a fixed width
		@if type-of($site-gutters) == map {
			@include pxtorem(min-width, $max-site-width + double(map-get($site-gutters, desk)));
		} @else {
			@include pxtorem(min-width, $max-site-width + double($site-gutters));
		}
	}

}

#{$site-gutters-selector} {

	@if type-of($site-gutters) == map { 

		@each $bp, $gutter in $site-gutters {
			@if map-has-key($mq-breakpoints, $bp) {
				@include respond($bp) {
					@include pxtorem(padding, 0 $gutter);
				}
			} @else {
				@warn "Breakpoint #{$bp} does not exist in ${$mq-breakpoints} map";
			}
		}
	} @else {
		@include pxtorem(padding, 0 $site-gutters);
	}
}
