//===========================================================================
//	Clearfix
//===========================================================================

/// Obligatory clearfix. Used by class `.clearfix`
/// ---
/// @group base
/// ---
/// @author Nicholas Gallagher
/// ---
/// @link http://nicolasgallagher.com/micro-clearfix-hack/
/// 
@mixin clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

%clearfix { // Extend the placeholder class only
	@include clearfix;
}

.clearfix {
	@include clearfix;
}
