//==========================================================================
//	Print styles.
//	Inlined to avoid required HTTP connection: h5bp.com/r
//==========================================================================

/// Wrapper for print styles
/// ---
/// @group base
/// ---
/// @content print styles
///
@mixin print-styles {
	@media print {
		@content;
	}
}

/// Wrapper for high resolution print styles
/// ---
/// @group base
/// ---
/// @content high resolution print styles
///
@mixin print-styles-high-res {
	@media print,
		   (-o-min-device-pixel-ratio: 5/4),
		   (-webkit-min-device-pixel-ratio: 1.25),
		   (min-resolution: 120dpi) {
		@content;
	}
}

/// Mixin for adding print style defaults. Note the framework doesn't automatically `@include` this
/// ---
/// @group base
/// ---
/// @link http://h5bp.com/r
///
@mixin print-styles-defaults() {

	@media print {
		* {
			box-shadow: none !important;
			text-shadow: none !important;
			background: transparent !important;
			color: #000 !important; // Black prints faster: h5bp.com/s
		}

		a,
		a:visited {
			text-decoration: underline;
		}

		a[href]:after {
			content: " (" attr(href) ")";
		}

		abbr[title]:after {
			content: " (" attr(title) ")";
		}


	// Don't show links for images, or javascript/internal links

		.ir a:after,
		a[href^="javascript:"]:after,
		a[href^="#"]:after {
			content: "";
		}

		pre,
		blockquote {
			border: 1px solid #999;
			page-break-inside: avoid;
		}

		thead {
			display: table-header-group; /* h5bp.com/t */
		}

		tr,
		img {
			page-break-inside: avoid;
		}

		@page {
			margin: 0.5cm;
		}

		p,
		h2,
		h3 {
			orphans: 3;
			widows: 3;
		}

		h2,
		h3 {
			page-break-after: avoid;
		}

	}

}
