//===========================================================================
//	Setup Type defaults
//===========================================================================

$heading-font-weight: 400 !default;

%heading-stack {
	font-family: $heading-font-stack;
	font-weight: $heading-font-weight;
}

.heading-stack {
	@extend %heading-stack;
}

%default-stack {
	font-family: $default-font-stack;
}

.default-stack {
	@extend %default-stack;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-bold {
	font-weight: bold;
}

.text-italic {
	font-style: italic;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

@each $heading in $heading-names {

	$heading-properties: map-get($headings, $heading);
	$font-size: map-get($heading-properties, "font-size");
	$line-height: map-get($heading-properties, "line-height");

	#{$heading},
	.like#{$heading} {
		@extend %heading-stack;
		@include font-size($font-size, $line-height);
	}

}
